<!-- Add Pun Modal -->
<div id="new_pun" class="modal">
    <div class="modal-content">
        <h4 class="center-align">NEW PUN</h4>
        <a class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
        <form action="" method="post">
            <div class="input-field">
                <label>Pun Body</label>
                <input type="text" name="pun_body" id="pun_body" required>
            </div>
            <div class="input-field">
                <label>Chef</label>
                <input type="text" name="user_name" id="user_name" required>
            </div>
            <div class="submit-btn">
                <button class="btn indigo waves-effect waves-light black" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>