<% if @puns.any? %>
  <h3 class="center-align teal-text">Code related puns</h3>
  <% @puns.each do |pun| %>
    <li>
      <div class="container pun-container">
        <a href="/puns/<%=pun.id%>" class="black-text"><h3 class="center-align"><%= pun.pun %></h3></a>
        <div class="submit-btn">
          <a class="tooltipped btn-floating btn-large waves-effect waves-light yellow" data-position="top" data-delay="50" data-tooltip="Upvote"><i class="em em-joy"></i></a>
          <a class="tooltipped btn-floating btn-large waves-effect waves-light red" data-position="bottom" data-delay="50" data-tooltip="Downvote">
                        <i class="em em-angry"></i></a>
          <a class="tooltipped btn-floating btn-large waves-effect waves-light green" data-position="right" data-delay="50" data-tooltip="Blonde"><i class="em em-confused"></i></a></a>
        </div>
        </h1>
    </li>
    <% end %>
      <% else %>
        <p>no puns but dont panic! yet...</p>
        <% end %>
          <!-- Add Pun Modal -->
          <div id="new_pun" class="modal">
            <div class="modal-content">
              <h4 class="center-align">NEW PUN</h4>
              <a class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
              <form action="/puns" method="post">
                <% if @categories.any? %>
                  <label for="category_id">Select a Category</label>
                  <select id="category_id" name="category_id" type="text" class="browser-default">
                    <% @categories.each do |category| %>
                      <option value="<%= category.id()%>">
                        <%= category.category %>
                      </option>
                      <% end %>
                  </select>
                  <% else %>
                    <div class="input-field">
                      <label>Pun Body</label>
                      <input type="text" name="pun_body" id="pun_body" required>
                    </div>
                    <div class="input-field">
                      <label>Chef</label>
                      <input type="text" name="user_name" id="user_name" required>
                    </div>
                    <div class="submit-btn">
                      <button class="btn indigo waves-effect waves-light black" type="submit">Submit</button>
                    </div>
              </form>
            </div>
          </div>