<% if @puns.any? %>
  <h3 class="center-align">The day's pun</h3>
  <% @puns.each do |pun| %>
    <li>
      <div class="container pun-container">
        <h1 class="center-align"><%= pun.pun %></h1>
        <li><a class="btn-floating green" href="/puns/<%=pun.id%>"><i class="material-icons">edit</i></a></li>
        <form action="/puns/<%= pun.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <li>
            <button class="btn-floating red" type="submit"><i class="material-icons">delete_forever</i></button>
          </li>
        </form>
        <div class="submit-btn">
          <button class="btn indigo waves-effect waves-light black" type="submit">Submit</button>
        </div>
    </li>
    <% end %>
      <% else %>
        <p>no puns but dont panic! yet...</p>
        <% end %>
          <!-- Add Pun Modal -->
          <div id="new_pun" class="modal">
            <div class="modal-content">
              <h4 class="center-align">NEW PUN</h4>
              <a class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
              <form action="/puns" method="post">
                <div class="input-field">
                  <label>Pun Body</label>
                  <input type="text" name="pun_body" id="pun_body" required>
                </div>
                <div class="input-field">
                  <label>Chef</label>
                  <input type="text" name="user_name" id="user_name" required>
                </div>
                <div class="submit-btn">
                  <button class="btn indigo waves-effect waves-light black" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>