body {
    font-size: 18px;
}

.submit-btn {
    text-align: center;
}

.input-field {
    width: 65%;
    margin: auto;
}

li {
    list-style-type: none;
}

.pun-container {
    margin-bottom: 10%;
    margin-top: 10%;
}

.menu-btn {
    display: inline-block;
}

.center-page {
    margin-top: 22%;
}

.progress {
  background-color: red;
}
