 body {
     font-size: 18px;
 }

 .submit-btn {
     text-align: center;
 }

 .input-field {
     width: 65%;
     margin: auto;
 }

 li {
     list-style-type: none;
 }

 .pun-container {
     margin-bottom: 20%;
     margin-top: 10%;
 }