@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
body {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}

.submit-btn {
    text-align: center;
}

.input-field {
    width: 65%;
    margin: auto;
}

li {
    list-style-type: none;
}

.pun-container {
    margin-bottom: 10%;
    margin-top: 10%;
}

.menu-btn {
    display: inline-block;
}